
body{
    font-family: Arial;
    background:#f4f6f9;
    margin:0;
}

/* Header */
.header{
    background:#007b5e;
    color:white;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logout-btn,.back-btn{
    background:red;
    color:white;
    padding:8px 15px;
    text-decoration:none;
    border-radius:5px;
}
.back-btn{
    color: black;
    background-color: green;
}
/* Table */
table{
    width:90%;
    margin:30px auto;
    border-collapse:collapse;
    background:white;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

th, td{
    padding:12px;
    text-align:center;
    border-bottom:1px solid #ddd;
}

th{
    background:#007bff;
    color:white;
}

/* Buttons */
.btn{
    padding:6px 10px;
    color:white;
    text-decoration:none;
    border-radius:5px;
    font-size:13px;
}

.accept{ background:green; }
.reject{ background:orange; }
.delete{ background:red; }

.btn:hover{
    opacity:0.8;
}

/* this is the project button css */

.container{
    max-width:600px;
    margin:auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    text-align:center;
}

h1{
    margin-bottom:20px;
}

.btn_project{
    display:block;
    padding:12px;
    margin:10px 0;
    background:#007bff;
    color:white;
    text-decoration:none;
    border-radius:6px;
    font-size:16px;
    transition:0.3s;
}

.btn_project:hover{
    background:#0056b3;
}

@media (max-width: 987px) {

    #btn_td{
        line-height: 31px;
    }

}